name: Deploy to GitHub Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false
jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 20.x
          cache: 'npm'
      
      - name: Install dependencies and Build Docusaurus
        run: |
          cd docusaurus-book
          npm ci
          npm run build
        # env: # Uncomment and configure if you have Docusaurus environment variables
        #   NODE_ENV: 'production'

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docusaurus-book/build # Path to your Docusaurus build output directory relative to repository root
          # Uncomment to specify a different branch for deployment (default is gh-pages)
          # publish_branch: gh-pages
          # Uncomment and set if you have a custom domain
          # cname: example.com